<% provide(:title, "home") %>
<!DOCTYPE html>
<html>
  <head>
    <title><%= yield(:title) %>home | Connecting people and food</title>
  </head>
  <body>
    <h1>Full Plate</h1>
    <p>This is home.</p>
    <%= yield %>
  </body>
</html>
