<% provide(:title, "pantry") %>
<!DOCTYPE html>
<html>
  <head>
    <title><%= yield(:title) %>pantry | Connecting people and food</title>
  </head>
  <body>
    <h1>Full Plate</h1>
    <p>This is the pantry.</p>
    <table>
    <tr>

    </tr>
    </table>
    <%= yield %>
  </body>
</html>
